@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<ShoutBook.Models.Shout>

@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>
<br />
<form asp-controller="Shouts" asp-action="Search">
    <p>
        <input type="text" name="SearchString">
        <input type="submit" value="Search" />
    </p>
</form>
<br />
<br />

@*
    @foreach (var item in Model)
    {

        @Html.DisplayFor(modelItem => item.Type) @Html.DisplayFor(modelItem => item.ShoutBy)
        <br />
        @Html.DisplayFor(modelItem => item.Location) @Html.DisplayFor(modelItem => item.Time)
        <br />
        @Html.DisplayFor(modelItem => item.Data)
        <br />
        @Html.DisplayNameFor(modelItem => item.Vote) @Html.DisplayFor(modelItem => item.Vote)
        <br />
        @Html.DisplayNameFor(modelItem => item.Reject) @Html.DisplayFor(modelItem => item.Reject)
        <br />
        <br />

    }
*@

<table class="table">
    @*<thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoutBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoutByID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attach)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>*@
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h3>
                        @Html.DisplayFor(modelItem => item.Type)
                    </h3>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <h3>
                        @Html.DisplayFor(modelItem => item.Data)
                    </h3>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    Shouted By: @Html.DisplayFor(modelItem => item.ShoutBy)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    <a class="btn btn-default" asp-action="Vote" asp-route-id="@item.ID">
                        @Html.DisplayNameFor(modelItem => item.Vote): @Html.DisplayFor(modelItem => item.Vote)
                    </a>
                </td>
                <td>
                    <a class="btn btn-default" asp-action="Reject" asp-route-id="@item.ID">
                        @Html.DisplayNameFor(modelItem => item.Reject): @Html.DisplayFor(modelItem => item.Reject)
                    </a>
                </td>
            </tr>
            @if (item.ShoutByID.Equals(UserManager.GetUserId(User)))
            {
                <tr>
                    <td colspan="5">
                        @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |*@

                        <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>