@model IEnumerable<ShoutBook.Models.ShoutBookVM.UserRoleVM>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URole)
            </td>
            <td>
                <a asp-action="ChangeRole" asp-route-id="@item.ID">Change Role</a>
            </td>
        </tr>
        }
    </tbody>
</table>
